:root{
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: #E50914;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Tempora de 2022*/

.fotoprincipal{
    font-size: 16px;
    background: url(/resource/SI202203270395_hires_jpeg_24bit_rgb_news-scaled.jpg);

    height: 550px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: -200px;
    
}

.titulo {
    font-size: 50px;
    margin-top: 2%;
}

.sobre{
    margin-top: 1%;
    font-size: 20px;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 10px 15px;
    font-size: 20px;
    margin-top: 3%;

    cursor: pointer;
    transition: .3s;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

.fotoprincipal.container{
    width: 70%;
}

.box{
    height: 100%;
    width: 100%;
    display: block;
}